/* CSS Document */
body { 
background-image: url(images/background.jpg);
		background-repeat:no-repeat;
		background-size: 110%;
		background-attachment: fixed;
		}
h1 {
	color:#E05154;
	text-align:center;
	border-bottom:dotted;
	}
	
.tabel {
	font-family: Arial, Sans-Serif;
	border-spacing: 0px;
	
	}

.tabel caption {
	font-weight: bold;
	font-size: 110%;
}

.tabel td, .tabel th {
	border-top: 1px solid #AAAAAA;
	padding: 3px;
}

input[type="text"], input[type="password"]{
	font-family: Arial, Sans-Serif;
	padding: 5px 10px;
	font-size: 13px;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	width: 15em;
}
